# dependencies
node_modules/

# build
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment files
.env
.env.local

# OS-specific junk
Thumbs.db
.DS_Store

# IDEs/editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# coverage and test output
coverage/
