/* .suggestions-container {
    margin-top: 10px;
    padding: 10px;
    background: #eef7f5;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .suggestions-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .suggestions-list li {
    margin-bottom: 8px;
    font-size: 1rem;
  }
  
  .error {
    color: red;
  }
   */